In [1]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [2]:
def setConnection():
    try:
        load_dotenv()

        # Retrieve MySQL connection details from environment variables
        host = os.getenv('DB_HOST')
        user = os.getenv('DB_USER')
        password = os.getenv('DB_PASSWORD')
        connection = mysql.connector.connect(
            host='localhost',
            user='root',
            password='user',
            autocommit=True  # Set autocommit to True
        )
        cursor = connection.cursor()
        cursor.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED") 
        return cursor, connection
    except mysql.connector.Error as e:
        print(e)
        return None, None

In [3]:
def createDatabase(cursor, name):
    try:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {name}")
        cursor.execute(f"USE {name}")  
    except mysql.connector.Error as e:
        print(e)

In [4]:
def createTable(cursor, tablename, dataframe,databaseName):
    try:
        engine = create_engine(f"mysql+mysqlconnector://root:user@localhost/{databaseName}")
        dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)
        print(f"Table '{tablename}' successfully installed in the database")
        cursor.execute(f"DESCRIBE {tablename}")
        print("Table schema:")
        for column in cursor.fetchall():
            print(column)
    except mysql.connector.Error as mysql_error:
        print(f"MySQL Connector Error: {mysql_error}")
    except Exception as sqlalchemy_error:
        print(f"SQLAlchemy Error: {sqlalchemy_error}")

In [5]:
def query(cursor,queryString):
    try:
        cursor.execute(queryString)
        rows = cursor.fetchall()
        for row in rows:
            print(row)
    except mysql.connector.Error as e:
        print(e)

In [6]:
def closeConnection(cursor,connection):
    try:
        cursor.close()
        connection.close()
    except mysql.connector.Error as e:
        print(e)

LOading Datasets

In [13]:
def loadDatasetcsv(name, unwanted_columns, frame=None):
    if frame is None:
        frame = pd.read_csv(f'./data/{name}.csv')
    else:
        frame = frame.copy()  # Create a copy of the DataFrame to avoid modifying the original

    # Drop unwanted columns
    for column in unwanted_columns:
        frame.drop(columns=[column], inplace=True)
    
    # Ensure frame is a DataFrame
    if not isinstance(frame, pd.DataFrame):
        frame = pd.DataFrame(frame)
    
    return frame

# Function to process salary string
def process_salary(salary):
    if '/yr' in salary:
        # If salary is per year, remove '/yr' and convert to int
        salary = int(salary.replace('₹', '').replace(',', '').replace('/yr', ''))
    elif '/mo' in salary:
        # If salary is per month, remove '/mo', convert to int, and convert to yearly salary
        salary = int(salary.replace('₹', '').replace(',', '').replace('/mo', '')) * 12
    return salary

In [8]:
def loadDatasetxl(name, unwanted_columns, frame=None):
    if frame is None:
        frame = pd.read_csv(f'./data/{name}.xls')
    else:
        frame = frame.copy()  # Create a copy of the DataFrame to avoid modifying the original

    # Drop unwanted columns
    for column in unwanted_columns:
        frame.drop(columns=[column], inplace=True)
    
    # Ensure frame is a DataFrame
    if not isinstance(frame, pd.DataFrame):
        frame = pd.DataFrame(frame)
    
    return frame

In [11]:
unwanted_columns = [] 
list_datasets=['Customer_Trans_RFM_Analysis','CustomerAddress','CustomerDemographics','NewCustomerList','Transactions']

In [14]:
cursor, connection = setConnection()

# Create database
createDatabase(cursor, 'customer_segmentation_db')

# Load and store datasets in the database
for dataset_name in list_datasets:
    dataset = loadDatasetcsv(dataset_name, unwanted_columns)
    createTable(cursor, dataset_name,dataset,'customer_segmentation_db')

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_12956\3572659709.py:4: UserWarning: The provided table name 'Customer_Trans_RFM_Analysis' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)

Table 'Customer_Trans_RFM_Analysis' successfully installed in the database
Table schema:
('transaction_id', 'bigint', 'YES', '', None, '')
('product_id', 'bigint', 'YES', '', None, '')
('customer_id', 'bigint', 'YES', '', None, '')
('transaction_date', 'text', 'YES', '', None, '')
('online_order', 'double', 'YES', '', None, '')
('order_status', 'text', 'YES', '', None, '')
('brand', 'text', 'YES', '', None, '')
('product_line', 'text', 'YES', '', None, '')
('product_class', 'text', 'YES', '', None, '')
('product_size', 'text', 'YES', '', None, '')
('list_price', 'double', 'YES', '', None, '')
('standard_cost', 'double', 'YES', '', None, '')
('product_first_sold_date', 'double', 'YES', '', None, '')
('Profit', 'double', 'YES', '', None, '')
('full_name', 'text', 'YES', '', None, '')
('gender', 'text', 'YES', '', None, '')
('past_3_years_bike_related_purchases', 'bigint', 'YES', '', None, '')
('DOB', 'text', 'YES', '', None, '')
('job_title', 'text', 'YES', '', None, '')
('job_industry_category', 'text', 'YES', '', None, '')
('wealth_segment', 'text', 'YES', '', None, '')
('deceased_indicator', 'text', 'YES', '', None, '')
('owns_car', 'text', 'YES', '', None, '')
('tenure', 'double', 'YES', '', None, '')
('Age', 'bigint', 'YES', '', None, '')
('recency', 'bigint', 'YES', '', None, '')
('frequency', 'bigint', 'YES', '', None, '')
('monetary', 'double', 'YES', '', None, '')
('r_quartile', 'bigint', 'YES', '', None, '')
('f_quartile', 'bigint', 'YES', '', None, '')
('m_quartile', 'bigint', 'YES', '', None, '')
('rfm_score', 'bigint', 'YES', '', None, '')
('customer_title', 'text', 'YES', '', None, '')
('Age_Group', 'bigint', 'YES', '', None, '')
('detail_cust_title', 'text', 'YES', '', None, '')
('rank', 'bigint', 'YES', '', None, '')

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_12956\3572659709.py:4: UserWarning: The provided table name 'CustomerAddress' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)

Table 'CustomerAddress' successfully installed in the database
Table schema:
('customer_id', 'bigint', 'YES', '', None, '')
('address', 'text', 'YES', '', None, '')
('postcode', 'bigint', 'YES', '', None, '')
('state', 'text', 'YES', '', None, '')
('country', 'text', 'YES', '', None, '')
('property_valuation', 'bigint', 'YES', '', None, '')

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_12956\3572659709.py:4: UserWarning: The provided table name 'CustomerDemographics' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)

Table 'CustomerDemographics' successfully installed in the database
Table schema:
('customer_id', 'bigint', 'YES', '', None, '')
('full_name', 'text', 'YES', '', None, '')
('gender', 'text', 'YES', '', None, '')
('past_3_years_bike_related_purchases', 'bigint', 'YES', '', None, '')
('DOB', 'text', 'YES', '', None, '')
('job_title', 'text', 'YES', '', None, '')
('job_industry_category', 'text', 'YES', '', None, '')
('wealth_segment', 'text', 'YES', '', None, '')
('deceased_indicator', 'text', 'YES', '', None, '')
('owns_car', 'text', 'YES', '', None, '')
('tenure', 'double', 'YES', '', None, '')
('Age', 'bigint', 'YES', '', None, '')

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_12956\3572659709.py:4: UserWarning: The provided table name 'NewCustomerList' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)

Table 'NewCustomerList' successfully installed in the database
Table schema:
('gender', 'text', 'YES', '', None, '')
('past_3_years_bike_related_purchases', 'bigint', 'YES', '', None, '')
('DOB', 'text', 'YES', '', None, '')
('job_title', 'text', 'YES', '', None, '')
('job_industry_category', 'text', 'YES', '', None, '')
('wealth_segment', 'text', 'YES', '', None, '')
('deceased_indicator', 'text', 'YES', '', None, '')
('owns_car', 'text', 'YES', '', None, '')
('tenure', 'bigint', 'YES', '', None, '')
('address', 'text', 'YES', '', None, '')
('postcode', 'bigint', 'YES', '', None, '')
('state', 'text', 'YES', '', None, '')
('country', 'text', 'YES', '', None, '')
('property_valuation', 'bigint', 'YES', '', None, '')
('Rank', 'bigint', 'YES', '', None, '')
('Value', 'double', 'YES', '', None, '')
('full_name', 'text', 'YES', '', None, '')
('Age', 'bigint', 'YES', '', None, '')
('Age Group', 'bigint', 'YES', '', None, '')
Table 'Transactions' successfully installed in the database
Table schema:
('transaction_id', 'bigint', 'YES', '', None, '')
('product_id', 'bigint', 'YES', '', None, '')
('customer_id', 'bigint', 'YES', '', None, '')
('transaction_date', 'text', 'YES', '', None, '')
('online_order', 'double', 'YES', '', None, '')
('order_status', 'text', 'YES', '', None, '')
('brand', 'text', 'YES', '', None, '')
('product_line', 'text', 'YES', '', None, '')
('product_class', 'text', 'YES', '', None, '')
('product_size', 'text', 'YES', '', None, '')
('list_price', 'double', 'YES', '', None, '')
('standard_cost', 'double', 'YES', '', None, '')
('product_first_sold_date', 'double', 'YES', '', None, '')
('Profit', 'double', 'YES', '', None, '')

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_12956\3572659709.py:4: UserWarning: The provided table name 'Transactions' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)

# Retrieving Column Names of Tables

In [16]:
tables = ['Customer_Trans_RFM_Analysis', 'CustomerAddress', 'CustomerDemographics', 'NewCustomerList', 'Transactions']

# Dictionary to store column names for each table
column_names_dict = {}

# Iterate through tables and fetch column names
for table in tables:
    query_string = f"SHOW COLUMNS FROM {table};"
    cursor.execute(query_string)
    columns = cursor.fetchall()
    column_names = [column[0] for column in columns]
    column_names_dict[table] = column_names

# Print the dictionary
print(column_names_dict)

{'Customer_Trans_RFM_Analysis': ['transaction_id', 'product_id', 'customer_id', 'transaction_date', 'online_order', 'order_status', 'brand', 'product_line', 'product_class', 'product_size', 'list_price', 'standard_cost', 'product_first_sold_date', 'Profit', 'full_name', 'gender', 'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'job_industry_category', 'wealth_segment', 'deceased_indicator', 'owns_car', 'tenure', 'Age', 'recency', 'frequency', 'monetary', 'r_quartile', 'f_quartile', 'm_quartile', 'rfm_score', 'customer_title', 'Age_Group', 'detail_cust_title', 'rank'], 'CustomerAddress': ['customer_id', 'address', 'postcode', 'state', 'country', 'property_valuation'], 'CustomerDemographics': ['customer_id', 'full_name', 'gender', 'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'job_industry_category', 'wealth_segment', 'deceased_indicator', 'owns_car', 'tenure', 'Age'], 'NewCustomerList': ['gender', 'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'job_industry_category', 'wealth_segment', 'deceased_indicator', 'owns_car', 'tenure', 'address', 'postcode', 'state', 'country', 'property_valuation', 'Rank', 'Value', 'full_name', 'Age', 'Age Group'], 'Transactions': ['transaction_id', 'product_id', 'customer_id', 'transaction_date', 'online_order', 'order_status', 'brand', 'product_line', 'product_class', 'product_size', 'list_price', 'standard_cost', 'product_first_sold_date', 'Profit']}

## Total number of transactions.

In [17]:
query(cursor,"SELECT COUNT(transaction_id) AS total_transactions FROM Customer_Trans_RFM_Analysis;")

(19542,)

## Average Profit per Transaction

In [18]:
query(cursor,"SELECT AVG(Profit) AS avg_profit_per_transaction FROM Customer_Trans_RFM_Analysis;")

(550.7695184457918,)

## Unique customers.

In [19]:
query(cursor,"SELECT COUNT(DISTINCT customer_id) AS unique_customers_count FROM Customer_Trans_RFM_Analysis;")

(3416,)

## The most frequently purchased product.

In [22]:
query(cursor,"SELECT product_id,  COUNT(*) AS purchase_count FROM Customer_Trans_RFM_Analysis GROUP BY product_id ORDER BY purchase_count DESC LIMIT 1;")

(0, 1337)

In [24]:
query(cursor,"SELECT COUNT(*) FROM customer_segmentation_db.customer_trans_rfm_analysis WHERE order_status != 'Approved';")

(177,)