In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime,date

## Loading the Data

In [6]:
df=pd.read_excel('../data/Raw_data.xlsx', sheet_name='CustomerAddress')
df.head(5)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

**Total Records**

In [10]:
print("Total Number of Rows in the Dataset:{}".format(df.shape[0]))
print("Total Number of Columns in the Dataset:{}".format(df.shape[1]))

Total Number of Rows in the Dataset:3999
Total Number of Columns in the Dataset:6

**Numerical And Non Numeric Columns**

In [14]:
df_numeric=df.select_dtypes(include=[np.number])
numeric_columns=df_numeric.columns.values
print("Numeric Columns :{}".format(numeric_columns))

df_non_numeric=df.select_dtypes(exclude=[np.number])
non_numeric_columns=df_non_numeric.columns.values
print("NON-Numeric Columns :{}".format(non_numeric_columns))

Numeric Columns :['customer_id' 'postcode' 'property_valuation']
NON-Numeric Columns :['address' 'state' 'country']

## Data Cleaning

**Find Inconsistency in Data**

Here we are going to find out the Inconsistency in the column 'State'

In [15]:
df['state'].value_counts()

state
NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: count, dtype: int64

In our dataset, we have observed inconsistencies in the representation of state names. Specifically, the states "New South Wales" and "Victoria" are sometimes written in full, while other times they are abbreviated as "NSW" and "VIC" respectively. 
To ensure consistency and facilitate data analysis, we will standardize the representation of these state names by abbreviating "New South Wales" to "NSW" and "Victoria" to "VIC".

In [17]:
def replace_names(state_name):
    if state_name=='Victoria':
        return 'VIC'
    elif state_name=='New South Wales':
        return 'NSW'
    else :
        return state_name
    
df['state']=df['state'].apply(replace_names)
df['state'].value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

## Export the Data

In [ ]:
df.to_csv('../data/CustomerAddress.csv', index=False)